@import '../../../common.styl'

.screenWrapper
  width: 100%

.screen
  background white

.table
  width: 100%

.row
  min-height 64px

.body
  width 1000x
  height 800px

.head
  border-color: black

.pagination
  color: black

